*.zip
*.rar
*.via
*.tmp
*.err
*.pyc
*~
.*.swp
*.elc
.emacs.backup
.evernote-mode.log
/.evernote-mode/
/.gem/
.gitconfig
/.ssh/
/.w3m/
BUGS
BUGS
README.W32
_viminfo
/bin/
/etc/
/info/
/leim/
/lisp/
/site-lisp/
/w3m/
\#*\#
.emacs-places
.history
/.*/
/下载/
/图片/
/模板/
/桌面/
/workspace/
/emacs/
/oracle/
/Navicat/
.ICEauthority
.Xauthority
.dlockpid
.dmrc
.emacs
.esd_auth
.icons
.mysql_history
.viminfo
.xsession-errors
.xsession-errors.old





